<section class="span12">
	<h2>Notify</h2>
<section id="content-area" class="center">
  <p>Fill in the fields below to notify a member or GA employee about visitors, food deliveries, package deliveries or if you simply want to say hello.</p>
  <label for="to_user_name">Who would you like to notify?</label>
  <input type="text" name"to_user_name" />
  <div class="inputs">
    <%= render 'form' %>
  </div>
  
</section>