<section class="span12">
	<section id="content-area" class="span12">
	<h2>Notify</h2>
	<div class="row">
		<div class="span6">
		  <p>Fill in the fields below to notify a member or GA employee about visitors, food deliveries, package deliveries or if you simply want to say hello.</p>
		</div>
	</div>	
  <div class="inputs">
    <%= render 'form' %>
  </div>
  
</section>