<section id="content-area" class="box">
	<% @users.each do |user| %>
  email:  <%= link_to user.email, edit_user_path(user) %> <br />
  <% end %>
</section>
<section>
  <%= link_to "Add Contact", new_user_path %>
</section>
