<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= button_to "VIEW CONTACTS", users_path %>
<%= button_to "SEND NOTIFICATION", root_path %>
