/* 01 - header *******************************************/
header { background: #000000; padding: 14px 0px 14px 50px; overflow: hidden;
	
	h1 { background: image-url('ga-lockup.png') no-repeat; height: 25px; width: 225px; text-indent: -99999px; }
}