// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "compass/layout/sticky-footer";

/* Mixins ************************************************/

@include sticky-footer(50px, "#wrapper", "#layout_footer", "footer");

/* Variables ************************************************/
$button-text: #FFF;  
$button-bg: #F03;
$button-hover-bg: #C21E27;

$body-fonts: Georgia, helvetica, arial, sans-serif;
$heading-fonts: arial, helvetica, sans-serif;
$font-color: #4F4F4F;
$font-hover-color: #C21E27; 


/* 00 - general ******************************************/
body { font-family: $body-fonts; font-size: 12px; }

h2 { font-family: $heading-fonts; font-size: 48px; padding: 0px 0px 20px 0px; text-transform: uppercase; line-height: 0.98; }

h3 { font-family: $heading-fonts; font-size: 16px; padding: 15px 0px 10px 0px; }

p { font-family: $body-fonts; font-size: 12px; }

a { text-decoration: none; text-transform: uppercase; color: #999; }

.center { margin-left: auto; margin-right: auto; }

/* 0 - header *******************************************/
header { color: #FFF; }

header	a { text-decoration: none; text-transform: uppercase; color: #999; margin-left: 5px; font-size: 15px; font-weight: bold;}

a:hover { color: $font-hover-color; text-decoration: none; }

a.name, a.current { color: #FFF; }
a.name:hover, a.current:hover { color: $font-hover-color; }

.not_you { font-size: 10px; display: block; float: right; margin-right: 60px; } 

nav a { font-family: arial; font-weight: 100; font-size: 15px; }

span.line { margin-left: 6px; font-size: 20px; }


/* 0 - content *******************************************/
#container { background: #ffffff; }

section { overflow: hidden; margin: 20px 0px; padding: 25px; }

.box { border: 12px solid #FFF; margin: 20px auto 20px auto; padding: 25px 25px 25px 25px; }

.forgot-link { margin-top: 20px; }

/* 0 - form *******************************************/

.red-button { background: $button-bg; border: none; color: $button-text; @include border-radius(0); font-size: 14px; display: block; width: 225px !important; margin-top: 20px; padding: 10px 0px 10px 0px; text-align: center; cursor: pointer; }
.red-button:hover { background: $button-hover-bg; }

.field-name { height: 35px; border: none; padding-left:15px; color: $font-color; background: #E2E2E2; @include border-radius(0); }

.field-message { height: 75px; width: 434px; border: none; padding: 10px 0px 0px 15px; margin-bottom:20px; color: $font-color; background: #E2E2E2; }

.content-link { display: block; width: 180px; float: left; margin: 13px 0 0 10px; color: $font-color;}

input.button { display: block; float: left; margin-right: 5px; text-transform: uppercase;}

label.boolean { display: inline; }
label.boolean.optional.control-label { float: right; margin-right: 722px;}

span.error { color: #F03; display: block;	}

.field_with_errors input { border: solid #F03 2px;}

#user_preference { height: 43px; }

/* 0 - NOTIFIY FORM *******************************************/
span.radio { width: 100px; }

/* 0 - Messages *******************************************/
#counter { float: right; margin-right: 935px; width: 50px; }

.collection_radio_buttons { display: inline; margin: 0px 8px 0 6px; }

input#message_message_type_id_1, input#message_message_type_id_2, input#message_message_type_id_3 { margin-bottom: 5px;}
/* 0 - footer *******************************************/
footer {
	background: #333333; color: #999; height: 30px; padding: 15px 0px 10px 25px;

	li { display: inline;} 
}